<div ng-repeat="location in menu.AllLocations" ng-cloak>
    <div class="container body-content">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">
                    {{location.Name}}
                    <small>Beer on Tap</small>
                </h1>
            </div>

        </div>
        <div class="row">

            <div class=" col-md-4 portfolio-item" ng-repeat="beer in menu.AllBeer | filter:{LocationName:location}">
                <a href="#project-link">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3>
                    <a href="#project-link"> {{beer.Name}}</a>
                </h3>
                <p>{{beer.TapName}}.</p>
            </div>

        </div>

    </div>
</div>