HammerCreekBrewing.Test.Unit/bin/Debug/HammerCreekBrewing.Test.mdf
HammerCreekBrewing.Test.Unit/bin/Debug/HammerCreekBrewing.Test_log.ldf
HammerCreekBrewing.Test.Unit/bin/
HammerCreekBrewing.Test.Unit/obj/
HammerCreekBrewing/obj/
