USE [HammerCreekBrewing]
GO
/****** Object:  User [hammer]    Script Date: 04/20/2014 14:23:44 ******/
CREATE USER [hammer] FOR LOGIN [hammer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/20/2014 14:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 04/20/2014 14:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brewery]    Script Date: 04/20/2014 14:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brewery](
	[BreweryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Brewery] PRIMARY KEY CLUSTERED 
(
	[BreweryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeerStyle]    Script Date: 04/20/2014 14:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeerStyle](
	[BeerStyleId] [int] IDENTITY(1,1) NOT NULL,
	[StyleName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.BeerStyle] PRIMARY KEY CLUSTERED 
(
	[BeerStyleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 04/20/2014 14:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[BeerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StyleId] [int] NOT NULL,
	[TapName] [nvarchar](max) NULL,
	[LocationId] [int] NOT NULL,
	[BrewDate] [datetime] NOT NULL,
	[KeggedDate] [datetime] NULL,
	[TappedDate] [datetime] NULL,
	[Abv] [nvarchar](max) NULL,
	[KegId] [int] NULL,
	[OnTap] [bit] NOT NULL,
	[BreweryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Beer] PRIMARY KEY CLUSTERED 
(
	[BeerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.Beer_dbo.BeerStyle_StyleId]    Script Date: 04/20/2014 14:23:44 ******/
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Beer_dbo.BeerStyle_StyleId] FOREIGN KEY([StyleId])
REFERENCES [dbo].[BeerStyle] ([BeerStyleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beer] CHECK CONSTRAINT [FK_dbo.Beer_dbo.BeerStyle_StyleId]
GO
/****** Object:  ForeignKey [FK_dbo.Beer_dbo.Brewery_BreweryId]    Script Date: 04/20/2014 14:23:44 ******/
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Beer_dbo.Brewery_BreweryId] FOREIGN KEY([BreweryId])
REFERENCES [dbo].[Brewery] ([BreweryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beer] CHECK CONSTRAINT [FK_dbo.Beer_dbo.Brewery_BreweryId]
GO
/****** Object:  ForeignKey [FK_dbo.Beer_dbo.Location_LocationId]    Script Date: 04/20/2014 14:23:44 ******/
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Beer_dbo.Location_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beer] CHECK CONSTRAINT [FK_dbo.Beer_dbo.Location_LocationId]
GO
